:root{
    --color-second:#B03BBE;
    --color-second2:#80268c;
    --line-height:1.9;
    --object-fit:cover;
    --background-white:white;
    --font-size:16px;
}

@font-face  {
    font-family: 'Araboto Arabic';
    src: url('../font/Araboto.ttf');
}


body{
    margin: 0;
    padding: 0;
    direction: rtl;
    font-weight: 500;
    font-family: 'Araboto Arabic';
}

p {line-height: var(--line-height); }

img { object-fit: var(--object-fit);}

.about{
    position: relative;
    z-index: 2;
}
.about-img{
    position: relative;
    opacity: 0.2; 
   
}
.about-img img{
    width:100%;
    height:650px;
}
.text-about ,.imaes{ 
    position: absolute;
    top: 10px;
}
.imaes img{
    width: 563px;
    height: 538px;
    
}
.color ,.text-about h2 ,.text-Training ,.text-output h3 ,h3 ,.fa-square-check,.fa-hand-point-left ,.Osha1 button{ color: var(--color-second2);}
.text-about h2{
    font-size: 41px;
}
.text-about {
    width: 526px;
}
.size ,.fa-hand-point-left{
    font-size: 20px;
}

.text-about button ,.footer button ,.modal-body form button ,.color-button { background-color: var(--color-second2); }



.color-button {
    margin-right: 110px;
    margin-top:-50px ;
}

/* the Section Start Slider */

.Training .swiper {
    width: 100%;
    height: 100%;
    }

.Training  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    }

    .Training .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    }
/* the Section End Slider */



/* the Section Start Output  */
.text-output p{
    font-size: 16px;
}
.output-img img{
    height: 340px;
}
/* the Section End Output */



/* the Section Start dependence */
table, td {border: 1px solid var(--color-second2);}

td{ padding: 20px; text-align: center;}

table { width: 100%; padding: 20px; border-collapse: collapse;}

.box-text-dependence{font-size: var(--font-size)}

.box-text-dependence h2{ color: var(--color-second2); }

/* the Section End dependence */


/* the Section  Start course  */
.img-coruse img{
    border-radius: 50%;
    height: 414px;
    width: 423px;
    opacity: 0.8;
    box-shadow:0px 0px 0px 2px var(--color-second2) ;
}
.Objectives p{
    font-size: 16px;
}


/* the Section  End course  */

.Osha1{
    background-color: var(--color-second2);
}
.Objectives .size-card{
    font-size: 44px;
}.Objectives .size-card sup{
    font-size: 20px;
}
.Osha2 {
    background-color: #f4f4f4;
}
.Osha2 p:nth-child(2){
    color: var(--color-second);
}

.counter {
  background-color: var(--color-second2);
}
.counter h2{
    font-size: 55px;
}
/* the Start Section Footer  */
.footer{
    background-image: linear-gradient(to bottom left , #80268c ,black );
} 
.footer button ,.position button{
    color: white;
    font-weight: bold;
}
.footer button:hover {
    color: black;
    background-color: var(--background-white);
}
.footer-text{
    width: 70%;
}

.position{
    position: relative;
}
.position button {
    position: fixed;
    bottom: 5px;
    left: 20%;
}
.whatsapp{
    position: fixed;
    bottom: 10px;
    left: 100px;
}
.position button {
    background-color: #4e0000;
}
.position button:hover{
    background-color: var(--color-second2);
    color: var(--background-white);
}
/* the end Section Footer */



/* the Respoinsev css  Start */
@media only screen and (min-width:768px) and (max-width:1200px){
    .output-img img{ width: 100%;  padding-bottom: 50px;}
    .about-img img{ height: 1050px; width: 100%;}
    .imaes img{ width: 100%;}
    .text-about{  top:55%;  width: 80%; }
    .text-about h2{  font-size: 30px; }
    .text-about button{width: 100%;}
}
@media only screen and (max-width: 767px) {
    .text-output ,.box-text-course  , .padd{  padding-top: 100px; }
    .box-text-dependence{  margin-right: -50px; }
    .counter {  font-size: 15px; }
    .footer-text{  width: 100%;}
     table,td{ padding: 10px; } 
    .position button { left: 0;  width: 100%; height: 70px;}
    .about-img img{ height: 1350px; width: 100%;}
    .imaes img{ width: 100%;}
    .text-about{  top:40%; width: 90%;}
    .text-about h2{   font-size: 30px;}
    .text-about button{width: 100%;}
    .img-coruse img{ width: 360px;  height: 320px;}
    .output-img img{width: 300px; }
}
/* the Respoinsev css  Start */